.u-center { text-align: center !important; }
.u-abs-center { @include absCenter; }
.u-align-left { text-align: left !important; }

.u-space-between { 
    display: flex !important;
    justify-content: space-between !important; 
}

.u-margin-left { margin-left: 1.5rem !important; }

.u-margin-top-none { margin-top: 0 !important; }

.u-margin-top-small { margin-top: 1rem !important; }
.u-margin-top-medium { margin-top: 2.5rem !important; }

.u-margin-none { margin: 0 !important; }

.u-width-huge { width: 64rem !important; }
.u-width-large { width: 57rem !important; }
.u-width-medium { width: 50rem !important; }
.u-width-small { width: 40rem !important; }
.u-width-tiny { width: 28rem !important; }

.u-display-none { display: none !important; }

.u-margin-bottom-tiny { margin-bottom: .75rem !important; }
.u-margin-bottom-small { margin-bottom: 2rem !important; }
.u-margin-bottom-medium { margin-bottom: 8rem !important; }

.u-color-red { color: $color-red !important; }

.u-inline-block { display: inline-block !important; }

.u-height-none { height: 0 !important; }
.u-height-large { min-height: 32.5rem !important; }