.create-plan__set--inputs {
    margin-top: 2.5rem;

    & div:nth-child(even) {
        float: right !important;
    }
}

.help {
    &--heading {
        text-align: center;
        margin: 1rem 0;
    }

    &--info {
        text-indent: 3rem;
        margin: 1rem 0;
    }
}

.day__container {
    border-bottom: 1.5px dashed #777;
    padding: 1.5rem 0;
    margin: 1rem 0;
}