.create-plan__set--inputs {
    margin-top: 2.5rem;

    & div:nth-child(even) {
        float: right !important;
    }
}

.help {
    &--heading {
        text-align: center;
        margin: 1rem 0;
    }

    &--info {
        text-indent: 3rem;
        margin: 1rem 0;
    }
}

.day__container {
    padding: 1.5rem 0 0;
}

.plan__container--submit {
    margin: 2.5rem 0 2rem;
    text-align: center;
}