.comment {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    padding: .75rem 1.25rem;
    border-top: 1px solid #777;

    &__options {
        display: inline-block;
        text-align: right;
        width: 3.4rem;

        &--delete {
            display: inline-block
        }

        &--report {
            display: inline-block
        }
    }

    &__info {
        text-align: left;
        margin-right: 1.5rem;

        &--user {
            display: block
        }

        &--text {
            margin: 0;
            line-height: 2.25rem;
            display: block;
        }
    }
}