.background {
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 90vh;
    padding-bottom: 5rem;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3rem), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3rem), 0 100%);
}