.button {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-size: $default-font-size;
        display: inline-block;
        border: none;
        position: relative;
        cursor: pointer;
    }

    &--tertiary {
        color: $color-grey-light-1;
        font-size: 1.8rem;
        padding: .75rem 2rem;
        border-radius: .5rem;

        &:active {
            outline: none;
            transform: translateY(.1rem);
            border-bottom: 0 solid transparent !important;
            margin-bottom: .4rem;
        }
    }
    
    &--green {
        background-color: $color-green;
        color: $color-grey-light-1;
        padding: .75rem 2rem;
        margin-bottom: 1rem;
        border-radius: 10rem;

        &:active {
            outline: none;
            transform: translateY(0);
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }

        &:hover {
            transform: translateY(-.05rem);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        }
        
        &:active:enabled,
        &:focus:enabled {
            outline: none;
        }
    }

    &--red {
        background-color: $color-red;
        color: $color-grey-light-1;
        padding: .75rem 2rem;
        margin-bottom: 1rem;
        border-radius: 10rem;

        &:active {
            outline: none;
            transform: translateY(0);
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }

        &:hover {
            transform: translateY(-.05rem);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        }
        
        &:active:enabled,
        &:focus:enabled {
            outline: none;
        }
    }
}
    
.link {
    &:link,
    &:visited {
        text-decoration: none;
        transition: all .2s;
        font-family: 'Roboto','Noto',sans-serif;
    }

    &:hover {
        color: $color-blue !important;
        border-bottom: 1px solid $color-blue !important;
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    }
        
    &:active:enabled,
    &:focus:enabled {
        outline: none;
    }
}