.icon {
    position: absolute;
    top: 1.4rem;
    left: 1.5rem;
    font-size: 2.2rem;
    color: $color-grey-dark-4;
    z-index: 1;

    
    &__input {
        font-size: $default-font-size;
        font-family: inherit;
        color: $color-grey-dark-4;
        font-weight: 400;
        border-radius: .2rem;
        background-color: $color-grey-light-3;
        border: none;
        border-bottom: .3rem solid transparent;
        display: inline-block;
        padding: 1.5rem 2rem 1.5rem 5rem;
        width: 21rem;

        &--small {
            padding: .5rem 1rem;
            margin: .5rem 1rem;
            width: 11rem;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1.5rem 2rem rgba($color-black, .1);
            border-bottom: .3rem solid $color-green;
        }

        &:focus:invalid {
            border-bottom: .3rem solid $color-red;
        }

        &::-webkit-input-placeholder {
            font-size: $default-font-size;
            font-weight: 400;
            color: $color-grey-dark-4;
        }

        &:placeholder-shown + &--label {
            opacity: 0;
            visibility: hidden;
            display: block;
            float: left;
            transform: translateY(-4rem);
        }

        &--group {
            position: relative;
            display: inline-block;
            height: 5.8rem;
            margin-bottom: 3rem;
        }

        &--label {
            font-size: $default-font-size;
            font-weight: 400;
            position: absolute;
            left: 5rem;
            top: 6rem;
            display: block !important;
            transition: all .3s;
            transform: translateY(-.65rem);
            float: left;
            color: $color-grey-light-2;
        }
    }
}