.section {
    &--button {
        &,
        &:link,
        &:visited {
            text-transform: uppercase;
            text-decoration: none;
            transition: all .2s;
            display: inline-block;
            border: none;
            cursor: pointer;
            font-size: $default-font-size;
            transform: translateY(-5.2rem);
            padding: .75rem 2rem 1rem;
            margin-bottom: 1rem;
            border-top-left-radius: 3rem;
            border-top-right-radius: 3rem;
        }
            
        &:active:enabled,
        &:focus:enabled {
            outline: none;
        }
    }

    &-form__group {
        @include clearfix;
        position: absolute;
        transform: translateY(-1.4rem);
        height: 0;
    }

    
    &-form__container {
        display: flex;
        justify-content: space-between; 
        height: 0;
    }
}