@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
    @if $breakpoint == small-phone {
        @media (max-width: 28.125em) { @content };
    }
    @if $breakpoint == phone {
        @media (max-width: 38.75em) { @content };
    }
    @if $breakpoint == tab-port {
        @media (max-width: 53.125em) { @content };
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };
    }
    @if $breakpoint == desktop {
        @media (min-width: 87.5em) { @content };
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };
    }
}