$color-primary-light: #303a70;
$color-primary: #151d47;
$color-primary-dark: #060713;

$color-secondary: #2d3375;
$color-secondary-light: #20264b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #c4c4c4;
$color-grey-light-3: #f6f6f6;

$color-grey-dark-1: #777;
$color-grey-dark-3: #16181b;
$color-grey-dark-4: #50545a;

$color-black: #000;
$color-blue: #5b88bb;
$color-green: #296429;
$color-red: #a01515;
$color-orange: #af671a;

$default-font-size: 1.6rem;

