$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #c4c4c4;
$color-grey-light-3: #efefef;

$color-grey-dark-1: #777;
$color-grey-dark-2: #50545a;

$color-black: #000;
$color-blue: #5b88bb;
$color-green: #296429;
$color-red: #a01515;
$color-orange: #af671a;

$default-font-size: 1.6rem;

